<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CorreoSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.asae.com.mx:5050/Correo.asmx" binding="basicHttpBinding" bindingConfiguration="CorreoSoap" contract="ReferenciaDeServicioDeCorreoDeASAE.CorreoSoap" name="CorreoSoap"/>
        </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="GAMConexion" connectionString="Data Source=DESKTOP-388ER4S\SQLEXPRESS; Initial Catalog=GAM;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
</configuration>
