
@{
    ViewBag.Title = "Proveedor Nuevo";
}

<input type="hidden" id="IdUsuario" name="IdUsuario" value="@Session["IdUsuario"].ToString()" />
<input type="hidden" id="IdConfiguracion" name="IdConfiguracion" value="@Session["IdConfiguracion"].ToString()" />

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Alta de Proveedor/Responsable</h4>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">

                <div class="card-body">

                    <div class="alert alert-info" role="alert">
                        Las etiquetas con * indican campos de captura obligatorios
                    </div>


                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">* Nombre</span>
                                    </div>
                                    <input type="text" id="Nombre" class="form-control" aria-label="Nombre"  autocomplete="off" required/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 text-center">

                            <div class="form-check">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" type="radio" id="test3" name="RadiosInternoExterno" value="1" onchange="CambiarEmpresasALocales();">
                                    <span class="form-radio-sign">Interno</span>
                                </label>
                                <label class="form-radio-label ml-3">
                                    <input class="form-radio-input" type="radio" id="test4" name="RadiosInternoExterno" checked onchange="CambiarEmpresasAProveedores();">
                                    <span class="form-radio-sign">Externo</span>
                                </label>
                            </div>

                        </div>
                        <div class="col-md-4 text-center">

                            <div class="form-check">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" type="radio" id="test1" name="optionsRadios" value="1">
                                    <span class="form-radio-sign">Física</span>
                                </label>
                                <label class="form-radio-label ml-3">
                                    <input class="form-radio-input" type="radio" id="test2" name="optionsRadios" value="2" checked>
                                    <span class="form-radio-sign">Moral</span>
                                </label>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">* RFC</span>
                                    </div>
                                    <input type="text" id="RFC" class="form-control" aria-label="RFC"  placeholder="LLLL991231AAA" autocomplete="off" required onblur="ValidarRFC(this);"/>
                                  
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Correo</span>
                                    </div>
                                    <input type="email" id="Correo" class="form-control" aria-label="Correo" required placeholder="nombre@correo.com" autocomplete="off" onblur="validarCorreo(this);" />
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Teléfono</span>
                                    </div>
                                    <input type="text" id="Telefono" class="form-control" aria-label="Telefono" required placeholder="55-5555-5555" maxlength="10" autocomplete="off" data-toggle="tooltip" data-placement="top" title="Sólo números" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Celular</span>
                                    </div>
                                    <input type="text" id="Celular" class="form-control" aria-label="Celular" required placeholder="55-5555-5555" maxlength="10" autocomplete="off" data-toggle="tooltip" data-placement="top" title="Sólo números" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-8">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Dirección</span>
                                    </div>
                                    <input type="text" id="Direccion" class="form-control" aria-label="Dirección" />
                                </div>
                            </div>

                        </div>



                        <div class="col-md-4">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Ciudad</span>
                                    </div>
                                    <input type="text" id="Ciudad" class="form-control" aria-label="Ciudad" />
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Notas</span>
                                    </div>
                                    <textarea id="Notas" class="form-control" aria-label="With textarea" rows="4"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--
                    <hr />


                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group form-inline">
                                <label for="Nombre" class="col-md-2 col-form-label">* Nombre</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control form-control-sm input-solid" id="Nombre" placeholder="Apellido(s), Nombre(s)" required tabindex="1" autocomplete="off" style="width:100%">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-radio-label">
                                        <input class="form-radio-input" type="radio" id="test3" name="RadiosInternoExterno" value="1" onchange="CambiarEmpresasALocales();">
                                        <span class="form-radio-sign">Interno</span>
                                    </label>
                                    <label class="form-radio-label ml-3">
                                        <input class="form-radio-input" type="radio" id="test4" name="RadiosInternoExterno" value="2" checked onchange="CambiarEmpresasAProveedores();">
                                        <span class="form-radio-sign">Externo</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">


                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-radio-label">
                                        <input class="form-radio-input" type="radio" id="test1" name="optionsRadios" value="1">
                                        <span class="form-radio-sign">Física</span>
                                    </label>
                                    <label class="form-radio-label ml-3">
                                        <input class="form-radio-input" type="radio" id="test2" name="optionsRadios" value="2" checked>
                                        <span class="form-radio-sign">Moral</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group form-inline">
                                <label for="RFC" class="col-md-3 col-form-label float-left">* RFC</label>
                                <div class="col-md-9 p-0">
                                    <input type="text" class="form-control form-control-sm input-solid" id="RFC" name="RFC" placeholder="" required tabindex="1" autocomplete="off" onblur="ValidarRFC(this);">
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-4">

                            <div class="form-group form-inline">
                                <label for="Correo" class="col-md-3 col-form-label">Correo</label>
                                <div class="col-md-9 p-0">
                                    <input type="email" class="form-control form-control-sm input-solid" id="Correo" placeholder="Correo Electrónico" required tabindex="4" autocomplete="off" onblur="validarCorreo(this);">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group form-inline">
                                <label for="Telefono" class="col-md-3 col-form-label">Teléfono</label>
                                <div class="col-md-9 p-0">
                                    <input type="text" class="form-control form-control-sm input-solid input-number" id="Telefono" placeholder="" required maxlength="10" tabindex="5" autocomplete="off" data-toggle="tooltip" data-placement="top" title="Sólo números">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group form-inline">
                                <label for="Celular" class="col-md-3 col-form-label">Celular</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm input-solid input-number" id="Celular" placeholder="" required maxlength="10" tabindex="6" autocomplete="off" data-toggle="tooltip" data-placement="top" title="Sólo números">
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-8">

                            <div class="form-group form-inline">
                                <label for="Direccion" class="col-md-2 col-form-label">Dirección</label>
                                <div class="col-md-10 p-0">
                                    <input id="Direccion" name="Direccion" type="text" class="form-control form-control-sm input-solid" tabindex="7" style="width: 99%">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group form-inline">
                                <label for="Ciudad" class="col-md-4 col-form-label">Ciudad</label>
                                <div class="col-md-7 p-0">
                                    <input id="Ciudad" name="Ciudad" type="text" class="form-control form-control-sm input-solid" tabindex="8">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="Notas">Notas</label>
                                <textarea id="Notas" name="Notas" class="form-control input-solid" cols="100" tabindex="14" onfocus="TextAreaGrande(this);" onblur="TextAreaNormal(this);"></textarea>
                            </div>

                        </div>

                    </div>
                    -->
                </div>

                <div id="Guardado1" class="card-action label-align-center">
                    <button id="Btn01" class="btn btn-success animated" tabindex="15" onclick="PreGuardado();">Guardar</button>
                    <!--button class="btn btn-primary animated" tabindex="16" onclick="AgregaryContinuar();">Guardar y Continuar</button-->
                </div>

                <div class="table-responsive">
                    <div id="advertencia" class="alert alert-warning" role="alert" style="display: none"></div>

                    <table id="basic-datatable" class="display conpact table-hover" style="width:100%"></table>

                    <center>
                        <button id="Btn02" class="btn btn-success animated" onclick="Agregar();" style="display: none">Guardar Nueva Persona</button>
                    </center>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#opcContactos').addClass("nav-item active submenu");
        $('#Nombre').select();
        $('#Guardado2').hide();

        $('.input-number').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

    });

    function PreGuardado() {
        if (!validarCorreo($('#Correo').val())) {
            return;
        }
        else if ($('#Empresa').val() === "") {
            swal({
                title: 'GAM',
                text: 'Si no asigna la persona a una empresa, no podrá asignarla como responsable en Asuntos',
                icon: 'warning',
                buttons: {
                    confirm: {
                        className: 'btn btn-warning'
                    }
                }
            });
        }
        else {
            //Verifica si existe algun contacto con los datos que se intentan guardar
            $.ajax({
                url: "/Administracion/PreguardadoResponsables/",
                data: {
                    Nombre: $('#Nombre').val(),
                    Correo: $('#Correo').val(),
                    RFC: $('#RFC').val(),
                    IdConfiguracion: $('#IdConfiguracion').val()
                },
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                    $('#Espera').show();
                },
                success: function (data) {



                    if (data.length > 0) {
                        $('#Btn01').css('display', 'none');
                        $('#Btn02').css('display', 'block');
                        $('#advertencia').text('El nombre o correo tendría alguna coincidencia con los datos que se muestran, verifique.').css('display', 'block');
                        $('#basic-datatable').empty();
                        var firstRow = '<thead><tr><th>Nombre</th><th>Correo</th><th>RFC</th></tr></thead><tbody>';
                        $('#basic-datatable').append(firstRow);
                        for (var i = 0; i < data.length; i++) {
                            var row = '<tr>' +
                                '<td>' + data[i].Nombre + '</td>' +
                                '<td>' + data[i].Correo + '</td>' +
                                '<td>' + data[i].Clave + '</td>' +
                                '</tr>';
                            $('#basic-datatable').append(row);
                        }
                        var lastRow = '</tbody></table>';
                        $('#basic-datatable').append(lastRow);
                    }
                    else {
                        //Guardar
                        Agregar();
                    }
                },
                complete: function () {
                    $('#Espera').hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }
    }

    function Agregar() {
        if ($('#Correo').val() === "") {
            swal({
                title: 'GAM',
                text: 'El campo de correo electrónico NO puede quedarse vacío',
                icon: 'warning',
                buttons: {
                    confirm: {
                        className: 'btn btn-warning'
                    }
                }
            });
        }
        var checado = 0;
        if ($("input[name='optionsRadios']:checked").val() == "1") {
            checado = 1;
        }
        else {
            checado = 2;
        }
        var checado2 = 0;
        if ($("input[name='RadiosInternoExterno']:checked").val() == "1") {
            checado2 = 1;
        }
        else {
            checado2 = 2;
        }
        $.ajax({
            url: "/Administracion/AgregarResponsable/",
            data: {
                Nombre: $('#Nombre').val(), Correo: $('#Correo').val(), Telefono: $('#Telefono').val(), Celular: $('#Celular').val(),
                Empresa: $('#Empresa').val(), Direccion: $('#Direccion').val(), Ciudad: $('#Ciudad').val(), Notas: $('#Notas').val(),
                IdConfiguracion: $('#IdConfiguracion').val(), FisicaMoral: checado, RFC: $('#RFC').val(), InternoExterno: checado2
            },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data == 0) {
                    swal({
                        text: 'Hubo un problema al intentar guardar los datos, revise que no haya información repetida.',
                        icon: 'warning',
                        buttons: {
                            confirm: {
                                className: 'btn btn-warning'
                            }
                        }
                    });
                }
                if (data >= 1) {
                    swal({
                        text: 'El registro se agregó exitosamente',
                        icon: 'success',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        }
                    }).then(
                        function () {
                            location.href = '/Administracion/UsuariosR';
                        }
                    );
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

    function AbrirlModalAgregarEmpresa() {
        $('#ModalAgregarEmpresa').modal('show');
    }

    function GuardarNuevaEmpresa() {
        $.ajax({
            type: "GET",
            url: "/Administracion/AgregarEmpresaProveedor/",
            data: {
                nombre: $('#empNombre').val(),
                rfc: $('#empRFC').val(),
                telefono: $('#empTelefono').val()
            },
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
                $('#Espera').show();
            },
            success: function (data) {
                //console.log(data);
                if (data > 0) {
                    swal({
                        title: 'GAM ASAE',
                        text: 'Se guardó la nueva empresa, ahora puede seleccionarla del listado.',
                        icon: 'success',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        }
                    }).then(
                        function () {
                            //Actualizar el select de las empresas de proveedores
                            CargarEmpresasProveedor();
                            //location.reload();
                        });

                }
                else {
                    swal({
                        title: 'GAM ASAE',
                        text: 'EL RFC ya está ocupado por otra empresa',
                        icon: 'error',
                        buttons: {
                            confirm: {
                                className: 'btn btn-error'
                            }
                        }
                    });
                }
            },
            complete: function () {
                $('#Espera').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

    function CargarEmpresas() {
        $.ajax({
            type: "GET",
            url: "/Empresas/SeleccionarEmpresasPorIdConfiguracion/",
            data: { id: $('#IdConfiguracion').val() },
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
                $('#Espera').show();
            },
            success: function (data) {
                //console.log(data);
                $('#Empresa').empty();
                for (var i = 0; i < data.length; i++) {
                    $('#Empresa').append('<option value=' + data[i].Id + '>' + data[i].Nombre + '</option>');
                }
            },
            complete: function () {
                $('#Espera').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

    function CargarEmpresasProveedor() {
        $.ajax({
            type: "GET",
            url: "/Administracion/SeleccionarEmpresasProveedores/",
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
                $('#Espera').show();
            },
            success: function (data) {
                //console.log(data);
                $('#Empresa').empty();
                for (var i = 0; i < data.length; i++) {
                    $('#Empresa').append('<option value=' + data[i].Id + '>' + data[i].Nombre + '</option>');
                }
            },
            complete: function () {
                $('#Espera').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

    function validarCorreo(email) {
        var regex = /[\w-\.]{2,}@@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;

        if (!regex.test($('#Correo').val().trim())) {
            swal({
                text: 'El correo electrónico es inválido, revise',
                buttons: {
                    confirm: {
                        className: 'btn btn-warning'
                    }
                },
            });
            return false;
        }
        return true;
    }

    function CambiarEmpresasALocales() {
        CargarEmpresas();
        $('#AgregadoEmpresa').hide();
    }

    function CambiarEmpresasAProveedores() {
        CargarEmpresasProveedor();
        $('#AgregadoEmpresa').show();
    }

    function ValidarRFC(valor) {
        var fisicamoral = $('input:radio[name=optionsRadios]:checked').val()

        if (valor.value === '') {
            swal({
                text: 'El campo no puede quedarse vacío',
                icon: 'warning',
                buttons: {
                    confirm: {
                        className: 'btn btn-warning'
                    }
                }
            }).then(
                function () {
                    $('#RFC').focus();
                }
            );
        }
        //Recorta el RFC y obtiene la fecha de nacimiento, primero valida, claro
        if (fisicamoral == 1) {
            var longitudRFC = $('#RFC').val().length;
            if (longitudRFC < 13) {
                swal({
                    text: 'La longitud del RFC (' + longitudRFC + ') es incorrecta, debe ser de 13 caracteres.',
                    icon: 'warning',
                    buttons: {
                        confirm: {
                            className: 'btn btn-warning'
                        }
                    }
                }).then(
                    function () {
                        $('#RFC').focus();
                    }
                );
            }

            var fecha = valor.value;
            var año = valor.value.substring(4, 6);
            var mes = valor.value.substring(6, 8);
            var dia = valor.value.substring(8, 10);

            if (mes > 12 || dia > 31) {
                swal({
                    text: 'Revise y tecleé la fecha del RFC correctamente (LLLLAAMMDDAAA).',
                    icon: 'warning',
                    buttons: {
                        confirm: {
                            className: 'btn btn-warning'
                        }
                    }
                }).then(
                    function () {
                        $('#RFC').focus();
                    }
                );
            }



        }
        else if (fisicamoral == 2) {
            var longitudRFC = $('#RFC').val().length;
            if (longitudRFC < 12) {
                swal({
                    text: 'La longitud del RFC (' + longitudRFC + ') es incorrecta, debe ser de 12 caracteres.',
                    icon: 'warning',
                    buttons: {
                        confirm: {
                            className: 'btn btn-warning'
                        }
                    }
                });
                return;
            }

            var fecha = valor.value;
            var año = valor.value.substring(3, 5);
            var mes = valor.value.substring(5, 7);
            var dia = valor.value.substring(7, 9);

            if (mes > 12 || dia > 31) {
                swal({
                    text: 'Revise y tecleé la fecha del RFC correctamente (LLLAAMMDDAAA).',
                    icon: 'warning',
                    buttons: {
                        confirm: {
                            className: 'btn btn-warning'
                        }
                    }
                });
                return;
            }

        }
    }
    //function ValidaRfc(rfcStr) {
    //    var strCorrecta;
    //    strCorrecta = rfcStr;
    //    if (rfcStr.length == 12) {
    //        var valid = '^(([A-Z]|[a-z]){3})([0-9]{6})((([A-Z]|[a-z]|[0-9]){3}))';
    //    } else {
    //        var valid = '^(([A-Z]|[a-z]|\s){1})(([A-Z]|[a-z]){3})([0-9]{6})((([A-Z]|[a-z]|[0-9]){3}))';
    //    }
    //    var validRfc = new RegExp(valid);
    //    var matchArray = strCorrecta.match(validRfc);
    //    if (matchArray == null) {
    //        alert('RFC incorrecto');
    //        return false;
    //    }
    //    else {
    //        //alert('Cadena correcta:' + strCorrecta);
    //        return true;
    //    }

    //}
</script>




